<a href="https://colab.research.google.com/github/fatimafarhan29/INTRO-TO-LLM/blob/main/Copy_of_DataScienceCohortmd1_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Introduction to pandas Series
#Create the employee_names list.

In [ ]:
employee_names = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
employee_names

['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']

In [ ]:
#Verify the employee_names object is a list.
type(employee_names)

list

In [ ]:

employee_names
#Create a pandas Series object containing the elements from the employee_names list. Call it employee_names_Series.
import pandas as pd
employee_names_Series = pd.Series(employee_names)
employee_names_Series

0             Amy White
1          Jack Stewart
2    Richard Lauderdale
3          Sara Johnson
dtype: object

In [ ]:
#Now, create a Series object directly. That is, not from an existing list, but by using the following structure: pd.Series([...])
#Let the elements of the Series object be the following numbers: 5, 8, 3, and 10. Name the object work_experience_yrs.
work_experience_yrs = pd.Series([5, 8, 3, 10])
work_experience_yrs

0     5
1     8
2     3
3    10
dtype: int64

In [ ]:
#Execute the code cell below to create the array_1 NumPy array object.
import numpy as np
array_age = np.array([50, 53, 35, 43])
array_age

array([50, 53, 35, 43])

In [ ]:
#Verify the type of the array_age object:
type(array_age)

numpy.ndarray

In [ ]:
#Create a Series object called series_age from the NumPy array object array_age you just created.
series_age = pd.Series(array_age)
series_age

0    50
1    53
2    35
3    43
dtype: int64

In [ ]:
#Check the type of the newly created object.
type(series_age)

pandas.core.series.Series

In [ ]:
#Use the print() function to display the content of series_age.
print(series_age)

0    50
1    53
2    35
3    43
dtype: int64

# Working with Methods in Python

In [ ]:
#Consider the following Series object.

employees_work_exp = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})
employees_work_exp

Amy White              3.0
Jack Stewart           5.0
Richard Lauderdale     4.5
Sara Johnson          22.0
Patrick Adams         28.0
Jessica Baker         14.0
Peter Hunt             4.0
Daniel Lloyd           6.0
John Owen              1.5
Jennifer Phillips     10.0
Courtney Rogers        4.5
Anne Robinson          2.0
dtype: float64

In [ ]:
#Use a certain method to extract the top five values from this Series.
employees_work_exp.head()

Amy White              3.0
Jack Stewart           5.0
Richard Lauderdale     4.5
Sara Johnson          22.0
Patrick Adams         28.0
dtype: float64

In [ ]:
#Use another method to extract the last few rows of employees_work_exp.
employees_work_exp.tail()

Daniel Lloyd          6.0
John Owen             1.5
Jennifer Phillips    10.0
Courtney Rogers       4.5
Anne Robinson         2.0
dtype: float64

In [ ]:
#Load the "Region.csv" file and use the .squeeze() method to convert it into a series.
#Store the information in a variable called region_data. Preview the data with the pandas .head() method

region_data = pd.read_csv('Region.csv').squeeze()
region_data.head()

0    Region 2
1    Region 6
2    Region 3
3    Region 2
4    Region 3
Name: Region, dtype: object

In [ ]:
#Verify that region_data is a Series object.
type(region_data)

pandas.core.series.Series

In [ ]:
region_data.shape

(1042,)

In [ ]:
#check for missing value.
region_data.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1037    False
1038    False
1039    False
1040    False
1041    False
Name: Region, Length: 1042, dtype: bool

In [ ]:
#Use the .describe() method to obtain descriptive statistics on the region_data Series.
#Think of how many unique values there are in the data set.
#Please note that the statistics provided in the output exclude missing data.

region_data.describe()

count         1042
unique          18
top       Region 6
freq           326
Name: Region, dtype: object

In [ ]:
#Please extract the total number of values from the region_data Series, then the number of unique values.
#Finally, obtain a list containing all unique values from this Series.
region_data.count()

1042

In [ ]:
region_data.nunique()

18

In [ ]:
region_data.unique()

array(['Region 2', 'Region 6', 'Region 3', 'Region 1', 'Region 5',
       'Region 9', 'Region 7', 'Region 4', 'Region 12', 'Region 16',
       'Region 8', 'Region 10', 'Region 13', 'Region 15', 'Region 11',
       'Region 14', 'Region 17', 'Region 18'], dtype=object)

In [ ]:
#Sort the values without specifying any arguments.
#Please note that the numbers go from 1 to 18, but we are currently ordering the values as labels, not integers. 1 is succeeded by 10, then 11, and so on until 18.
#Then we have 2, 3, 4, etc., until 8, and eventually - 9.
region_data.sort_values()

462    Region 1
347    Region 1
609    Region 1
610    Region 1
339    Region 1
         ...
536    Region 9
450    Region 9
8      Region 9
842    Region 9
940    Region 9
Name: Region, Length: 1042, dtype: object

In [ ]:
#Sort the values, setting the ascending parameter equal to True.
region_data.sort_values(ascending=True)

462    Region 1
347    Region 1
609    Region 1
610    Region 1
339    Region 1
         ...
536    Region 9
450    Region 9
8      Region 9
842    Region 9
940    Region 9
Name: Region, Length: 1042, dtype: object

In [ ]:
#Sort the values in region_data in descending order.
region_data.sort_values(ascending=False)

450    Region 9
842    Region 9
141    Region 9
940    Region 9
8      Region 9
         ...
569    Region 1
892    Region 1
558    Region 1
557    Region 1
309    Region 1
Name: Region, Length: 1042, dtype: object

# **Introduction to pandas DataFrames**

In [ ]:
array_c = np.array([[1000, 50, 78.45], [700, 112, 35.5]])
array_c

array([[1000.  ,   50.  ,   78.45],
       [ 700.  ,  112.  ,   35.5 ]])

In [ ]:
#Convert array_c into a DataFrame, called company_statistics.
#Assign the column names and row labels from the following lists as column names and index of this DataFrame, respectively.

company_statistics = pd.DataFrame(array_c, columns=['No. of Employees', 'Avg. Annual Revenue ($)', 'Share price ($)'], index=['Company A', 'Company B'])
company_statistics

           No. of Employees  Avg. Annual Revenue ($)  Share price ($)
Company A            1000.0                     50.0            78.45
Company B             700.0                    112.0            35.50

In [ ]:
#Display the company_statistics DataFrame.
company_statistics

           No. of Employees  Avg. Annual Revenue ($)  Share price ($)
Company A            1000.0                     50.0            78.45
Company B             700.0                    112.0            35.50

In [ ]:
#Import the Sales-products.csv dataset into a DataFrame object called sales_products_data.
sales_products_data = pd.read_csv('Sales-products.csv')
sales_products_data

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710
...,...,...,...,...,...,...,...,...,...,...,...,...
1271,SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
1272,SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
1273,SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
1274,SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
1275,SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

In [ ]:
#Verify that the obtained object is a pandas DataFrame.
type(sales_products_data)

pandas.core.frame.DataFrame

In [ ]:
#Try out a well-known pandas method used for Series on this DataFrame to obtain its last five rows.
sales_products_data.tail()

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
1271,SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
1272,SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
1273,SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
1274,SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
1275,SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

# **pandas DataFrames - Common Attributes**

In [ ]:
#Return the index of the sales_products_data DataFrame.
sales_products_data.index

RangeIndex(start=0, stop=1276, step=1)

In [ ]:
#Verify that sales_products_data is a RangeIndex object in an alternative way by using the type() funciton.
type(sales_products_data.index)

pandas.core.indexes.range.RangeIndex

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#You are requested to create a new DataFrame, called df,
#whose data is obtained from the the names of the columns of sales_products_data DataFrame,
#while the column names are obtained from the new_column_names list.
new_column_names = ['SaleID', 'Country', 'OrderMethod', 'Retailer', 'Line',
                   'Type', 'Product', 'YearOfSales', 'Quarter', 'Revenue', 'Quantity',
                   'Margin'
                   ]

In [ ]:
#First, execute the next cell to create new_column_names,
#and then in the next cell try creating the df DataFrame yourself (by helping yourself with the newly created new_column_names list).
#Note: There are two ways to achieve this -
#one would be through utilizing the columns parameter, and the other – with the help of the "columns" attribute.
# Choose whichever option you prefer (or why not try both!).
df = pd.DataFrame(sales_products_data, columns=new_column_names)
df

,SaleID,Country,OrderMethod,Retailer,Line,Type,Product,YearOfSales,Quarter,Revenue,Quantity,Margin
0,SaleID_1,NaN,Fax,NaN,NaN,NaN,TrailChef Deluxe Cook Set,NaN,Q1 2018,59728.66,491.0,NaN
1,SaleID_2,NaN,Fax,NaN,NaN,NaN,TrailChef Double Flame,NaN,Q1 2018,36050.32,254.0,NaN
2,SaleID_3,NaN,Fax,NaN,NaN,NaN,Star Dome,NaN,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,NaN,Fax,NaN,NaN,NaN,Star Gazer 2,NaN,Q1 2018,NaN,305.0,NaN
4,SaleID_5,NaN,NaN,NaN,NaN,NaN,Compact Relief Kit,NaN,Q1 2018,NaN,182.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1271,SaleID_1272,NaN,Sales visit,NaN,NaN,NaN,Husky Rope 60,NaN,Q3 2020,30916.50,173.0,NaN
1272,SaleID_1273,NaN,Sales visit,NaN,NaN,NaN,Firefly Climbing Lamp,NaN,Q3 2020,7536.29,193.0,NaN
1273,SaleID_1274,NaN,Sales visit,NaN,NaN,NaN,Firefly Charger,NaN,Q3 2020,12306.48,238.0,NaN
1274,SaleID_1275,NaN,Sales visit,NaN,NaN,NaN,Granite Axe,NaN,Q3 2020,56499.00,1472.0,NaN
1275,SaleID_1276,NaN,Sales visit,NaN,NaN,NaN,Granite Extreme,NaN,Q3 2020,89427.00,1178.0,NaN

In [ ]:
df = pd.DataFrame(sales_products_data, columns=new_column_names)
df.head()

,SaleID,Country,OrderMethod,Retailer,Line,Type,Product,YearOfSales,Quarter,Revenue,Quantity,Margin
0,SaleID_1,NaN,Fax,NaN,NaN,NaN,TrailChef Deluxe Cook Set,NaN,Q1 2018,59728.66,491.0,NaN
1,SaleID_2,NaN,Fax,NaN,NaN,NaN,TrailChef Double Flame,NaN,Q1 2018,36050.32,254.0,NaN
2,SaleID_3,NaN,Fax,NaN,NaN,NaN,Star Dome,NaN,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,NaN,Fax,NaN,NaN,NaN,Star Gazer 2,NaN,Q1 2018,NaN,305.0,NaN
4,SaleID_5,NaN,NaN,NaN,NaN,NaN,Compact Relief Kit,NaN,Q1 2018,NaN,182.0,NaN

In [ ]:
#Use an attribute to obtain metadata about the types of data stored in the different columns of the sales_products_data DataFrame.
sales_products_data.dtypes

SaleID              object
RetailerCountry     object
OrderMethod         object
RetailerType        object
ProductLine         object
ProductType         object
Product             object
Year               float64
Quarter             object
Revenue            float64
Quantity           float64
GrossMargin        float64
dtype: object

In [ ]:
#Obtain a Numpy array containing all values of the sales_products_data.
sales_products_data.values

array([['SaleID_1', 'United States', 'Fax', ..., 59728.66, 491.0,
        0.35754797],
       ['SaleID_2', 'United States', 'Fax', ..., 36050.32, 254.0,
        0.4842745],
       ['SaleID_3', 'United States', 'Fax', ..., 90040.48, 149.0, nan],
       ...,
       ['SaleID_1274', 'Spain', 'Sales visit', ..., 12306.48, 238.0,
        0.56842037],
       ['SaleID_1275', 'Spain', 'Sales visit', ..., 56499.0, 1472.0,
        0.49066667],
       ['SaleID_1276', 'Spain', 'Sales visit', ..., 89427.0, 1178.0,
        0.38689474]], dtype=object)

In [ ]:
np_arrary = sales_products_data.to_numpy()
print(np_arrary)

[['SaleID_1' 'United States' 'Fax' ... 59728.66 491.0 0.35754797]
 ['SaleID_2' 'United States' 'Fax' ... 36050.32 254.0 0.4842745]
 ['SaleID_3' 'United States' 'Fax' ... 90040.48 149.0 nan]
 ...
 ['SaleID_1274' 'Spain' 'Sales visit' ... 12306.48 238.0 0.56842037]
 ['SaleID_1275' 'Spain' 'Sales visit' ... 56499.0 1472.0 0.49066667]
 ['SaleID_1276' 'Spain' 'Sales visit' ... 89427.0 1178.0 0.38689474]]

In [ ]:
#Verify that the obtained objects are NumPy arrays with the help of the "Type" function.
type(np_arrary)

numpy.ndarray

In [ ]:
#Obtain the number of rows and columns in the sales_products_data DataFrame.
sales_products_data.shape

(1276, 12)

In [ ]:
#Check if the output obtained in the previous cell is a tuple.
type(sales_products_data.shape)

tuple

# Data Selection in pandas DataFrames

In [ ]:
#Although we are not advised to, retrieve the data from the 'Product' column from the sales_products_data column without using the indexing operator [ ].
product_data  = sales_products_data.loc[:, "Product"]
product_data

0       TrailChef Deluxe Cook Set
1          TrailChef Double Flame
2                       Star Dome
3                    Star Gazer 2
4              Compact Relief Kit
                  ...
1271                Husky Rope 60
1272        Firefly Climbing Lamp
1273              Firefly Charger
1274                  Granite Axe
1275              Granite Extreme
Name: Product, Length: 1276, dtype: object

In [ ]:
#retrieve the data from the 'Product' column from the sales_products_data column without using the indexing operator [ ].
sales_products_data['Product']

0       TrailChef Deluxe Cook Set
1          TrailChef Double Flame
2                       Star Dome
3                    Star Gazer 2
4              Compact Relief Kit
                  ...
1271                Husky Rope 60
1272        Firefly Climbing Lamp
1273              Firefly Charger
1274                  Granite Axe
1275              Granite Extreme
Name: Product, Length: 1276, dtype: object

In [ ]:
#Apply the .tail() method to the code you used in your previous response to obtain the last five rows from the "Product" column.


sales_products_data['Product'].tail()

1271            Husky Rope 60
1272    Firefly Climbing Lamp
1273          Firefly Charger
1274              Granite Axe
1275          Granite Extreme
Name: Product, dtype: object

In [ ]:
#Although we are not advised to, retrieve the data from the 'Quarter' column from the sales_products_data column without using the indexing operator .[ ]
sales_products_data.loc[:, 'Quarter']

0       Q1 2018
1       Q1 2018
2       Q1 2018
3       Q1 2018
4       Q1 2018
         ...
1271    Q3 2020
1272    Q3 2020
1273    Q3 2020
1274    Q3 2020
1275    Q3 2020
Name: Quarter, Length: 1276, dtype: object

In [ ]:
#Retrieve the data from the 'Quarter' column from the sales_products_data column by using the indexing operator [ ].
sales_products_data['Quarter']

0       Q1 2018
1       Q1 2018
2       Q1 2018
3       Q1 2018
4       Q1 2018
         ...
1271    Q3 2020
1272    Q3 2020
1273    Q3 2020
1274    Q3 2020
1275    Q3 2020
Name: Quarter, Length: 1276, dtype: object

In [ ]:
#Use any of the 4 previous examples to verify that the data obtained from a column of a DataFrame is actually stored in a Series object:

type(sales_products_data['Quarter'])

pandas.core.series.Series

In [ ]:
#Use a well-know attribute and attribute chaining to obtain information about the type of data stored in the "Revenue" column.
sales_products_data.Revenue.dtype

dtype('float64')

**Selecting multiple columns from a DF**

In [ ]:
#Use a list with column names within the indexing operator ([ ])
#to extract data from the 'Revenue' and 'Quantity' columns from the sales_products_data DataFrame.
# Use the .head() method to only display the top five rows of the selection.
#Solve the problem by using a single line of code.
sales_products_data[['Revenue', 'Quantity']].head()

    Revenue  Quantity
0  59728.66     491.0
1  36050.32     254.0
2  90040.48     149.0
3       NaN     305.0
4       NaN     182.0

# **pandas DataFrames - Indexing with .iloc[]**

In [ ]:
#Select the data from the first row from the sales_products_data DataFrame (don't forget that in programming we start counting from 0!).
sales_products_data.iloc[0]

SaleID                              SaleID_1
RetailerCountry                United States
OrderMethod                              Fax
RetailerType                   Outdoors Shop
ProductLine             Personal Accessories
ProductType                     Cooking Gear
Product            TrailChef Deluxe Cook Set
Year                                  2018.0
Quarter                              Q1 2018
Revenue                             59728.66
Quantity                               491.0
GrossMargin                         0.357548
Name: 0, dtype: object

In [ ]:
#Select the data from the penultimate row from the sales_products_data DataFrame.
sales_products_data.iloc[-2]

SaleID                      SaleID_1275
RetailerCountry                   Spain
OrderMethod                 Sales visit
RetailerType              Outdoors Shop
ProductLine        Personal Accessories
ProductType                       Tools
Product                     Granite Axe
Year                             2020.0
Quarter                         Q3 2020
Revenue                         56499.0
Quantity                         1472.0
GrossMargin                    0.490667
Name: 1274, dtype: object

In [ ]:
#Select the value from the second row and sixth column of sales_products_data by using the .iloc[] accessor.
sales_products_data.iloc[1, 5]

'Cooking Gear'

In [ ]:
#Use the .shape attribute to discover the largest numbers that you can use as arguments of the .iloc[] accessor.
sales_products_data.shape

(1276, 12)

In [ ]:
#Considering the values you just obtained, use the .iloc[] accessor
#find out the value that has been stored in the last row and farthest-to-the-right column
sales_products_data.iloc[1275, 11]

0.38689474

In [ ]:
#Prove that .iloc[] can be applied to a Series object such as sales_products_data['Product'] as well
#(e.g. by obtaining the first element from this column).
sales_products_data['Product'].iloc[0]

'TrailChef Deluxe Cook Set'

In [ ]:
#Although we are not advised to, when working with a Series object,
#we can obtain the same output without using the .iloc[] indexer and using "classical" Python indexing. Can you try that out?
sales_products_data['Product'][0]

'TrailChef Deluxe Cook Set'

# **pandas DataFrames - Indexing with .loc[]**

In [ ]:
#Retrieve the values from the first row of the DataFrame by using the specified label-based index rather than the default numeric index.
sales_products_data.loc[0]

SaleID                              SaleID_1
RetailerCountry                United States
OrderMethod                              Fax
RetailerType                   Outdoors Shop
ProductLine             Personal Accessories
ProductType                     Cooking Gear
Product            TrailChef Deluxe Cook Set
Year                                  2018.0
Quarter                              Q1 2018
Revenue                             59728.66
Quantity                               491.0
GrossMargin                         0.357548
Name: 0, dtype: object

In [ ]:
#By using the specified label-based index again, retrieve the information stored in the 'GrossMargin' column for the 4th sale.
sales_products_data.loc[3, 'GrossMargin']

0.29293788

In [ ]:
#Obtain a DataFrame containg the values stored in all columns for sales numbered 15, 235, and 1147 by using the .loc[] indexer.
sales_products_data.loc[[15, 235, 1147]]

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
15,SaleID_16,United States,Web,Mall,Camping Equipment,Knives,Max Gizmo,2018.0,Q1 2018,12362.20,323.0,0.549791
235,SaleID_236,Mexico,Web,Mall,Camping Equipment,Binoculars,Ranger Vision,2018.0,Q3 2018,5700.00,37.0,0.370000
1147,SaleID_1148,Germany,Phone,Department Store,Camping Equipment,Lanterns,EverGlow Lamp,2020.0,Q1 2020,44998.55,1670.0,0.524364

In [ ]:
#With the help of the .loc[] indexer, select the last 5 records from the 'Year' column.
sales_products_data.loc[:, 'Year'].tail()

1271    2020.0
1272    2020.0
1273    2020.0
1274    2020.0
1275    2020.0
Name: Year, dtype: float64